<?xml version="1.0"?>
<launch>
    <node pkg="CLASmovingbase" type="GPSodom.py" name="odomgps">
        <param name="heading" value="179.169287"/>
        <rosparam param="initial_coordinate">[35.709918, 139.523032]</rosparam>
    </node>
    
    <node pkg="CLASmovingbase" type="movingbase_quat.py" name="movingbase_to_quat" respawn="true"/>
    
    <node pkg="CLASmovingbase" type="combination.py" name="CLAS_movingbase" respawn="true"/>

    
    <node name="combine_dr_measurements" pkg="robot_pose_ekf" type="robot_pose_ekf">
            <remap from="odom"         to="/CLAS_movingbase"/>
            <remap from="imu_data"     to="/imu"/>
            <param name="freq"                 value="10.0"/>
            <param name="sensor_timeout"       value="5.0"/>
            <param name="publish_tf"           value="true"/>
            <param name="odom_used"            value="true"/>
            <param name="imu_used"             value="false"/>
            <param name="output_frame"         value="odom"/>
            <param name="base_footprint_frame" value="base_footprint"/>
    </node>
    
</launch>
